@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*------------ COLOR ------------*/

$primaryColor: #353e47;
$secondColor: #527da8;
$primaryColorLight: #ffffff;
$white40: rgba(255, 255, 255, 0.3);

/*----- COLOR POKEMON -----*/
$grass: #7BCE52CC;
$fire: #F75231CC;
$water: #399CFFCC;
$bug: #ADBD21CC;
$normal: #bdb7a9CC;
$poison: #B55AA5CC;
$electric: #FFC631CC;
$ground: #D6B55ACC;
$fairy: #F8C1F6CC;
$fighting: #924121CC;
$psychic: #F25B8ECC;
$rock: #BDA55ACC;
$ghost: #7376C0CC;
$ice: #5ACEE7CC;
$dragon: #7B63E7CC;
$unknown: #3F3A3ACC;
/*--- END COLOR POKEMON ---*/

/*---------- END COLOR ----------*/